<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<form class="search" action="">
  <label>Name:
    <input type="text" name="name" autocomplete="off">
  </label>
  <label>City:
    <input type="text" name="city" autocomplete="off">
  </label>
  <label>State:
    <input type="text" name="state" autocomplete="off">
  </label>
  <button type="submit">Search</button>
</form>
<h1>Breweries</h1>
<table>
  <thead>
    <tr>
      <th>Brewery</th>
      <th>City</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(function(brewery) { %>
      <tr>
        <td><%= brewery.name %></td>
        <td><%= brewery.city %></td>
        <td><%= brewery.state %></td>
        <td><a href="/breweries/<%= data.id %>">DETAILS</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>



<%- include('../partials/footer') %>
