<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/breweries/show.css">
<%- include('../partials/nav') %>

<main>
  <div class="wrap">
  <h1><%= data.name %></h1>
  <section>
    <% if(data.brewery_type) { %>
      <div>Type:</div>
      <div><%= data.brewery_type %></div>
    <% } %>
    <% if(data.street) { %>
      <div>Address:</div>
      <div><%= data.street %></div>
    <% } %>
    <% if(data.city) { %>
      <div>City:</div>
      <div><%= data.city %></div>
    <% } %>
    <% if(data.state) { %>
      <div>State:</div>
      <div><%= data.state %></div>
    <% } %>
    <% if(data.postal_code) { %>
      <div>ZIP:</div>
      <div><%= data.postal_code %></div>
    <% } %>
    <% if(brewery && brewery.reviews && brewery.reviews.length) { %>
      <div>Average Rating:</div>
      <div>
        <% let total = 0 %>
        <% brewery.reviews.forEach(function(review) { %>
          <% total += review.rating %>
        <% }) %> 
        <%= (total / brewery.reviews.length).toFixed(1) %>
      </div>
    <% } %>
  </section>
  <form action="<%= data.id %>/reviews" method="POST">
    <h2>Rate and Review</h2>
    <textarea name="comment" cols="40" rows="5" autocomplete="off"></textarea>
    <select name="rating" id="dropdown" selected="5">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <button type="submit">Submit</button>
  </form>
  <% if (brewery && brewery.reviews && brewery.reviews.length) { %>
  <h2>Reviews</h2>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% brewery.reviews.forEach(function (review) { %>
        <tr>
          <td><%= review.userName %></td>
          <td><%= review.comment %></td>
          <td><%= review.rating %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
    <h2>No Reviews Yet</h2>
  <% } %>
  </div>
</main>






<%- include('../partials/footer') %>
