<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= data.name %></h1>
  <section>
    <div>Brewery:</div>
    <div><%= data.name %></div>
    <div>Type:</div>
    <div><%= data.type %></div>
    <div>Address:</div>
    <div><%= data.street %></div>
    <div>City:</div>
    <div><%= data.city %></div>
    <div>State:</div>
    <div><%= data.state %></div>
    <div>ZIP:</div>
    <div><%= data.postal_code %></div>
  </section>
</main>






<%- include('../partials/footer') %>
